*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #131313;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    margin: 0;
}
li{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;     
}
.container{
    max-width: 1220px; /* +20px */
    padding: 0 10px;
    margin: 0 auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu{
    margin-right: 70px;
}
.menu__list{
    display: flex;

}
.menu__item + .menu__item{
    padding-left: 10px;
}
.menu__link{
    text-transform: uppercase;
    padding: 43px 20px;
    transition: all, .5s;
}
.menu__link:hover{
    background-color: #131313;
    color: white;
}
.bike{
    padding: 100px 0 100px;
}
.bike__inner{
    display: flex;
    justify-content: space-between;

}
.bike__column-slider{
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
}
.bike__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 0 0 5px;
}
.bike__subtitle{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin:0 0 60px;
    color: #6F6F6F;
}
.bike__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    max-width: 420px;
    margin-bottom: 20px;
}
.bike__link{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    padding: 20px 80px;
    color: #FFFFFF;
    background-color: black;
    margin-top: 80px;
    display: inline-block;
    cursor: pointer;
    transition: all .5s;
}
.bike__link:hover{
    background-color: #ff4040;
}

.bike-slider .slick-dots{
    right: 0;
}
.slick-dots{
    position: absolute;
    top: 50px;
}
.slick-dots li+li{
    padding-top: 10px;
}
.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    transform: all .3s;

}
.slick-dots button:hover,
.slick-active button{
    background-color: #ff4040;
}

.bike__list{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
.bike__list-item{
    display: flex;
    flex-direction: column;
    min-width: 160px;
    align-items: center;
    text-align: center;
    min-height: 58px;

}
.bike__list-num{
    font-weight: 700;
    text-transform: uppercase;
}
.bike__list-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: auto 0;
}
/* ================================================ */
.info{
    margin-bottom: 150px;
}
.info__img{
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
}
.info__inner{
    display: flex;
}
.info__list{
    flex-basis: 490px;
}
.info__item + .info__item{      /*что б не трогало 1-й */
    padding-top: 50px;
}
.info__item-title{
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.info__item-text{
    max-width: 450px;
}
/* ------------------------------------------- */
.characteristics{
    margin-bottom: 150px;
}
.characteristics__titles{
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.characteristics__inner{
    display: flex;
}
.characteristics__items{
    margin-right: 60px;
    flex-basis: 570px;
}
.characteristics__img{
    align-self: center;
}
.characteristics__list + .characteristics__list{
    padding-top: 30px;
}
.characteristics__title{
    font-weight: 700;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
color: #FFFFFF;
padding: 2px 0 3px;
background-color: black;
}
.characteristics__line{
    display: flex;
    padding-top: 5px;
}
.characteristics__name{
    flex-basis: 285px;
}
.characteristics__descr{
    flex-basis: 285px;

}
/* -------------------------------------- */
.slider{
    margin-bottom: 50px;
}
.slider__item .slick-dots{
    top: 0;
    left: 0;
}
.slider__item{
    padding-left: 50px;
}
/* ------------------------------------------ */

.price{
    margin-bottom: 100px;
}
.form{
    max-width: 420px;
}
.price__inner{
    position: relative;
}
.form__title{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.form__text{
    max-width: 300px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.form_input-name,
.form_input-phone{
    width: 100%;
    border: none;
    border-bottom: 1px solid #131313;
    padding-bottom: 10px;
    margin-bottom: 20px;

}
.form_input-name::placeholder,
.form_input-phone::placeholder{
    color: #6f6f6f;
    opacity: 0.5;
}
.form__bike{
    display: none;
}
.form__label-box{
display: flex;
}
.form__label +.form__label{
    margin-left: 23px;
}
.form__input-radio{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike{
    display: block;
}
.form__bike{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
.form__radio-style{
    border-radius: 30px;
    width: 80px;
    height: 12px;
}
.form__radio-style--grey{
    background-color: #6f6f6f;
}
.form__radio-style--white{
    background-color: #fff;
    border: 1px solid #6f6f6f;
}
.form__radio-style--red{
    background-color: #FF4040;
}
.form__btn{
    background-color: #131313;
    padding: 28px 71px 28px 81px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    margin-top: 50px;
    cursor: pointer;
    transition: all .5s;
}
.form__btn:hover{
    background-color: #ff4040;
}

.form__bike-price{
    font-size: 32px;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 221px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 50%;
    transform: translate(-50%);
}
.form__bike-price::after{
    content: "";
    width: 220px;
    height: 100px;
    position: absolute;
    border: 1px solid red;
    border-radius: 50%;
    top: 12px;
}
/* ============================== */
.footer{
    background-color: #131313;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.footer__link{
    color: white;
    text-decoration: underline;
    font-size: 12px;
    line-height: 15px;
}
.footer__social-link + .footer__social-link{
    margin-left: 28px;
}

.footer__contacts{
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}
.footer__contacts-link{
    display: flex;
    align-items: center;
}
.footer__contacts-link + .footer__contacts-link{
    margin-top: 10px;
}
.footer__contacts-img{
    margin-right: 10px;
}

/* ==================================== */
@media(max-width:1140px){
    .form__bike-img{
        width: 500px;
    }
    .form__bike{
        top: 45px;
    }
}
@media(max-width:1110px){
    .bike__inner{
        flex-wrap: wrap;
    }
    .bike__text{
        max-width: 100%;
    }
    .bike{
        padding: 30px 0;
    }
    .bike__link{
        margin-top: 20px;
    }
    .bike__column-slider{
        min-width: 100%;
    }
    .info{
        margin-bottom: 10px;
    }
    .info__img{
        display: none;
    }
    .info__list{
        flex-basis: 100%;
    }
    .info__item-text{
        max-width: 100%;
    }
    .characteristics{
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .slider__img{
        object-fit: cover;
        height: 400px;
    }
    .price{
        margin-bottom: 50px;
    }
}

@media(max-width: 991px) { 
    .menu{
        margin-right: 0;
    }
    .characteristics__inner{
        flex-wrap: wrap;
    }
    .characteristics__img{
        order: -1;
        width: 100%;
        margin-bottom: 30px;
    }
    .characteristics__items {
        margin-right: 0px;
        flex-basis: 100%;
    }
    .characteristics__name {
        flex-basis: 50%;
    }
    .characteristics__descr {
        flex-basis: 50%;
    }
    .form__label-box{
        margin-bottom: 300px;
    }
    .form__bike{
        top: auto;
        bottom: 85px;
        left: 0;
        right: auto;
    }
    .form__bike-img{
        width: 430px;

    }
    .form__bike-price {
        top: 0;
        left: auto;
        right: -20%;
        width: 221px;
        transform: translate(100%);
    }

}
@media(max-width:680px){
    .form__bike-price {
        top: -55px;
        right: 0;
        transform: translate(50%);
    }
}
@media(max-width:670px){
    .bike__title {
        font-weight: 700;
        font-size: 44px;
        line-height:57px;
        margin: 30px 0 5px;
    }
    .bike__subtitle {
        font-size: 22px;
        line-height: 29px;
        margin: 0 0 30px;
    }
    .bike__list {
    flex-wrap: wrap;
    }
    .bike__list-item{
        width: 50%;
        margin-bottom: 15px;
    }
}
@media (max-width: 580px) {
    .form__bike-price {
        top: 0;
        right: 0;
        transform: translate(0%);
        left: 0;
        display: block;
    font-size: 18px;
    border: none;
    }
    .form__bike-price::after{
        display: none;
    }
}
@media(max-width: 640px) {
    .header__inner{
        display: block;
        text-align: center;
    }
    .menu{
        margin-top: 50px;
    }
    .menu__list{
        justify-content: space-evenly;
    }
    .menu__item+ .menu__item{
        padding-left: 0;
    }
    .menu__link{
        padding: 25px 20px;
    }
    .slider__img{
        object-fit: cover;
        height: 300px;
    }
    .slider__item{
        padding-left: 10px;
    }
}

@media(max-width: 460px){
    .menu__list{
        justify-content: space-between;
    }
    .menu__link{
        padding: 25px 0;
    }
    .bike__link{
        padding: 15px;
        letter-spacing: .9em;
    }
    .slider{
        display: none;
    }
    .form__btn{
        padding: 15px;
    letter-spacing: .9em;
    }
}

@media(max-width: 320px){
    .menu__link{
        font-size: 12px;
        
    }
    .menu{
        justify-content: space-between;
        margin-top: 30px;
    }
}
/* ============================== */
